* {
    margin: 0;
    padding; 0;
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow: hidden;
}

.informational {
    width: 100%;
    height: 100px;
    /* background-color: orange; */
    z-index: 20;
    position: absolute;
    top: 50%;
    left: 5%;
    line-height: 3.1em;
}

.informational p {
    font-size: 2.5rem;
    color: rgb(171, 64, 61);
    font-weight: 300;
}

.informational a {
    text-decoration: none;
    color: rgb(16, 16, 16);
    transition: all 0.3s cubic-bezier(0.6, 0.04, 0.98, 0.335);
}

.informational a:hover {
    color: seagreen;
}

/* three.js automagically generates the canvas, we're using full screen */
.scene,
canvas {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #141E30;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

@media screen and (max-width: 880px) {
    .informational p {
        font-size: 2.1rem;
    }
}

@media screen and (max-width: 772px) {
    .informational {
        top: 10%;
        left: 5%;
    }
}